{% extends 'base.html.twig' %}

{% block body %}
    Liste des téléphones plus grands que 5.5
<ul>
  {% for tels in tels %}
      <li>ID : {{ tels.id }} /
      Marque : {{ tels.marque }} /
      Type : {{ tels.type }} /
      Taille {{ tels.taille }} pouces</li>
  {% endfor %}
</ul>
{% endblock %}
